@font-face {
    font-family: "Noto Sans";
    src: url('../fonts/static/NotoSans_Condensed-Regular.ttf') format('ttf');
}

body {
    font-family: "Noto Sans";
}

.wrapper {
    background-image: url(../img/pink_lambo.jpeg);
    background-attachment: fixed;
    font-family: "Noto Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.wrapper-login {
    background-image: url(../img/pink_lambo-lohgIn.jpg);
    background-attachment: fixed;
    font-family: "Noto Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.wrapper-registration {
    background-image: url(../img/pink-lambo-reg.jpg);
    background-attachment: fixed;
    font-family: "Noto Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.wrapper * {
    z-index: 2;
}

/*just for styling, can be as child element of .wrapper*/
.wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.wrapper-login::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.wrapper-registration::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(131, 131, 131);
}

.header-login {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(131, 131, 131);
}

.header__heading {
    font-weight: 600;
    color: rgb(56, 35, 95);
}

.search {
    width: 60%;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(218 9 8 / 77%);
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 1%;
}

.search-main {
    width: 30%;
    padding: 0.5%;
    border-radius: 10px;
    background-color: rgb(218 9 8 / 77%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 1%;
}

.cartype,
.carcondition,
.carsetup {
    display: flex;
    justify-content: space-between;
}

.cartype__description,
.cardetails__description {
    font-size: 1.3rem;
    font-weight: bold;
}

.cartype__description-main,
 .cardetails__description-main {
    font-weight: bold;
}

.cartype {
    flex-basis: 35%;
}

.cartype__item {
    width: 100%;
    height: fit-content;
    font-size: 1.6rem;
    padding: 2%;
    border-radius: 10px;
    border: 0px;
}

.cartype__item-main {
    width: 100%;
    height: fit-content;
    font-size: 1rem;
    padding: 1%;
    border-radius: 10px;
    border: 0px;
    margin-right: 10%;
}

.cartype__period {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cartype__period-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.search-criteria__bodytype-year {
    display: flex;
    flex-direction: column;
}

.cardetails {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cardetails-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardetails__items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    font-size: 1.3rem;
}

.cardetails__items-main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    font-size: 1rem;
}

.search-submit-wrap {
    display: flex;
    justify-content: space-between;
}

.search-submit-wrap-main {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.cartype__time {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cartype__time-main {
    display: flex;
    gap: 2px;
    align-items: center;
}

.cartype__from,
.cartype__to {
    font-size: 1rem;
}

.cardetails__price {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cardetails__price-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardetails__wrap {
    display: flex;
    justify-content: space-between;

}

.cardetails__wrap-from,
.cardetails__wrap-to {
    width: 45%;
    display: flex;
    gap: 30px;
}

.cardetails__from,
.cardetails__to {
    width: 70%
}

.submit__wrapper {
    flex-basis: 50%;
}

.search-submit_button {
    width: 40%;
    padding: 1%;
    border-radius: 20px;
    font-size: 1.3rem;
    background-color: #8d8a9a;
    border: 0px;
}

.search-submit_button-main {
    width: 27%;
    padding: 0.5%;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #8d8a9a;
    border: 0px;
}

.search-submit_link {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
}

.search-submit_link-main {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}

.car-type__brand-input--more {
    width: 50%;
}

.cartype__description,
.carsetup__color,
.carsetup__conditioner {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    gap: 10px;
}

.car-type__brand-input--more,
.carcondition__country-items,
.carcondition__fuel-items {
    width: 60%;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 0;
    padding: 1%;
}

.carsetup__color-items {
    width: 40%;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 0;
}

.car-type__brand--label,
.carcondition__country-desc,
.carcondition__country-desc,
.carcondition__state-desc,
.carsetup__color-desc,
.carsetup__conditioner-desc {
    font-size: 1.3rem;
    padding-right: 1.5%;
    font-weight: bold;
}

.carcondition__country-fuel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carcondition__state {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.carcondition__state-items {
    width: 30%;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1%;
}

.login {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: rgb(103, 73, 142);
    padding: 2%;
    margin-top: 1%;
    margin-left: 38%;
    width: 25%;
    border-radius: 10px;
}

.login__data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__email,
.login__password {
    font-size: 1.3rem;
    padding: 1%;
}

.checkbox-wrapper,
.login__registration-link {
    flex-basis: 60%;
    font-size: 1.3rem;
}

.login__submit-item {
    width: 90px;
}

.login__submit-item {
    width: 100px;
    font-size: 1.3rem;
    padding: 1.5%;
    border-radius: 30px;
    border: 0;
    background-color: gray;
}

.login__registration-link {
    color: green;
    text-decoration: none;
}

.login__registration-link {
    color: red;
    text-decoration: none;
}

.login__heading {
    font-size: 2rem;
}

.nav {
    background-color: rgba(95, 59, 153, 0.77);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    padding: 1%;
    border-radius: 10%;
    border-radius: 10px;
    margin: 1%;
    height: fit-content;
}

.link {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
}

.search-nav {
    display: flex;
    justify-content: space-between;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #f750f27e;
    padding: 2%;
    gap: 1%;
    margin: 1%;
    border-radius: 10px;
    margin-top: 9%;
}

.gallery__car {
    width: 100%;
    height: 200px;
}

.gallery__desc {
    padding-top: 10px;
    color: black;
}

.gallery_item-link {
    text-decoration: none;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(131, 131, 131);
    width: 100%;
    padding: 0.2%;
}

.logo__pic {
    width: 4%;
    padding: 0.5%;
    border-radius: 20px;
}

.logo__desc {
    color: rgb(56, 35, 95);
    font-size: 1.5rem;
    font-weight: 600;
}

.search-nav-detailed {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.nav-login {
    background-color: rgba(95, 59, 153, 0.77);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    padding: 1%;
    border-radius: 10%;
    border-radius: 10px;
    margin: 1%;
    z-index: 2;
    height: fit-content;
}

.logo-reg {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(131, 131, 131);
    width: 100%;
    padding: 0.2%;
    z-index: 2;
    margin-top: 21%;
}

.logo-more {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(131, 131, 131);
    width: 100%;
    padding: 0.2%;
    z-index: 2;
    margin-top: 5%;
}

