@font-face {
    font-family: "Noto Sans";
    src: url('../fonts/static/NotoSans_Condensed-Regular.ttf') format('ttf');
}

body {
    font-family: "Noto Sans";
}

.wrapper {
    position: relative;
    background-image: url(../img/pink_lambo.jpeg);
    background-attachment: fixed;
    font-family: "Noto Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.wrapper-login {
    position: relative;
    background-image: url(../img/pink_lambo-lohgIn.jpg);
    background-attachment: fixed;
    font-family: "Noto Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.wrapper-registration {
    position: relative;
    background-image: url(../img/pink-lambo-reg.jpg);
    background-attachment: fixed;
    font-family: "Noto Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.wrapper * {
    position: relative;
    z-index: 2;
}

/*just for styling, can be as child element of .wrapper*/
.wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.wrapper-login::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.wrapper-registration::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(131, 131, 131);
}

.header-login {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(131, 131, 131);
}

.header__heading {
    font-weight: 600;
    color: rgb(56, 35, 95);
}

.header__link {
    position: absolute;
    right: 5px;
    top: 60px;
    text-decoration: none;
    font-size: 25px; 
}

main {
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.search {
    width: 60%;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(218 9 8 / 77%);
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cartype,
.condition-wraper,
.colorconditioner {
    display: flex;
    justify-content: space-between;
}

.cartype__description,
.cardetails__description {
    font-size: 20px;
    font-weight: bold;
}

.cartype {
    flex-basis: 35%;
}

.cartype__item {
    width: 100%;
    height: fit-content;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}

.cartype__period {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search-criteria__bodytype-year {
    display: flex;
    flex-direction: column;
}

.cardetails {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cardetails__items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    font-size: 20px;
}


.search-submit-wrap {
    display: flex;
    justify-content: space-between;
}

.cartype__time {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cartype__from,
.cartype__to {
    font-size: 15px;
}

.cardetails__price {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cardetails__wrap {
    display: flex;
    justify-content: space-between;

}

.cardetails__wrap-from,
.cardetails__wrap-to {
    width: 45%;
    display: flex;
    gap: 30px;
}

.cardetails__from,
.cardetails__to {
    width: 70%
}

.submit__wrapper {
    flex-basis: 50%;
}

.search-submit_button {
    width: 40%;
    padding: 8px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #8d8a9a;
    border: 0px;
}

.search-submit_link {
    text-decoration: none;
}

.search-submit_link {
    font-size: 25px;
    font-weight: bold;
}

.car-type__brand-input--more {
    width: 50%;
}

.cartype__description,
.colorconditioner__wrapper,
.colorconditioner__conditioner {
    flex-basis: 50%;
}

.car-type__brand-input--more,
.condition__country,
.condition__fuel,
.conditioner__items {
    width: 60%;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
}

.color__items{
    width: 40%;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}

.car-type__brand--label,
.condition__heading,
.condition__heading,
.carcondition__heading,
.color__heading,
.conditioner__heading {
    font-size: 20px;
    padding-right: 15px;
    font-weight: bold;
}

.condition__country-fuel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carcondition-wrapper {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.carcondition__items {
    width: 30%;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
}

.login {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: rgb(103, 73, 142);
    padding: 20px;
    margin-top: 10%;
    width: 25%;
    border-radius: 10px;
}

.login__data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__email,
.login__password {
    font-size: 20px;
    padding: 10px;
}

.checkbox-wrapper,
.registration-wrapper {
    flex-basis: 60%;
    font-size: 20px;
}

.submit-wrapper {
    width: 90px;
}

.login__submit {
    width: 100px;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    background-color: gray;
}

.login__registration {
    color: green;
    text-decoration: none;
}

.registration-wrapper {
    color: red;
    text-decoration: none;
}

.login__heading {
    font-size: 30px;
}
